---
layout: default
title: Home
description: Helping business and organizations inspire their employees to take control of their health and never call in sick again
---






<div class="container-fluid plum padded-big" id="gail1">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <h1><span class="dark-font"> <strong></strong>Health Advocate, Author, Speaker and Entrepreneur</h2></span>
       <p class="lead"><span class="dark-font sux" id="highlight-plum">Helping businesses and organizations inspire their employees to take control of their health and never call in sick again. </p></span>
          </div>
      </div>
    </div>
  </div>




 <div class="container-fluid purple padded-big">
  <div class="container">

<h2><span class="white-font">Who I work with</span></h2>
<ul>
  <li class="sux"><i class="fa fa-check-square-o"></i> Businesses</li>
   <li class="sux"><i class="fa fa-check-square-o"></i> Corporations</li>
  <li class="sux"><i class="fa fa-check-square-o"></i> Faith based organizations (Businesses, churches and
ministries) desiring launch or to enhance their health
and wellness programs</li>
  <li class="sux"><i class="fa fa-check-square-o"></i> Faith based Health and Wellness advocates desiring to
enhance their knowledge in the area of living foods</li>
 <li class="sux"><i class="fa fa-check-square-o"></i> Christian professional women over 35 years old</li>

</ul>


          </div>
      </div>



<div class="container-fluid white padded-big" id="gail3">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <h1><span class="dark-font"> <strong></strong>Let food be thy medicine</h2></span>
       <p class="lead"><span class="dark-font sux" id="highlight-green">Let me show your employees or members the way to bring mind, body and spirit into alignment, the way God intended.</p></span>
          </div>
      </div>
    </div>
  </div>

<div class="container-fluid purple padded-big">
  <div class="container">



  <span class="sux">According to an article from the Population Health Management, "Health
related work losses are estimated to cost US employers more than <strong>$260
billion each year</strong>, and may cost some companies more than direct medical
expenditures."</span>


          </div>
      </div>



  <div class="container-fluid dark padded-big">
  <div class="container" id="packages">
    <div class="row">
          <div class="col-md-4"><h2>Healthy Tips and Talks</h2><p class="lead">Let me inspire your employees toward a path of health with my most popular and powerful presentation.<br>

<ul>
          <span class="lead"> <li> <i class="fa fa-check-square-o"></i> I will share my powerful testimonial</li>
           <li> <i class="fa fa-check-square-o"></i> What's wrong with our food today?</li>
             <li> <i class="fa fa-check-square-o"></i> Never call in sick again</li>
              <li> <i class="fa fa-check-square-o"></i> Having passion for your job</li>
               <li> <i class="fa fa-check-square-o"></i> Get healthy, get energy and get focused!</li>
           <li> <i class="fa fa-check-square-o"></i> The importance of sleep</li>
           <li> <i class="fa fa-check-square-o"></i> How to improve your productivity through better health</li>
           <li> <i class="fa fa-check-square-o"></i> Experiencing wellness without giving up the foods you love</li>
             <li> <i class="fa fa-check-square-o"></i> Your amazing immune system</li>
           <li> <i class="fa fa-check-square-o"></i> Laugh, rest and play</li>
                      <li> <i class="fa fa-check-square-o"></i> What is really stopping you from being healthy you?</li>
        </ul>
       <p class="suxy pink-font">starting at $1000</p>
        </div>

        <div class="col-md-8">
          <div class="row">
           <div class="col-md-6"><h2>Wellness Programs</h2><p class="lead">Custom designed for your organization or company to empower your employees to get healthier!</p>
            <ul>
                   <span class="lead">   <li> <i class="fa fa-check-square-o"></i> Implement a custom wellness program</li>
           <li> <i class="fa fa-check-square-o"></i> Improve productivity and morale</li>
           <li> <i class="fa fa-check-square-o"></i> Lower health care costs</li>
           <li> <i class="fa fa-check-square-o"></i> More energy = Better results </li></span>
        
              </ul>
  <p class="suxy pink-font">starting at $1500</p>
          </div>
           <div class="col-md-6"><h2>Lunch + Learn</h2><p class="lead">A fun way to incorporate my popular wellness presentation into your organizations schedule</p>
            <ul>
   <span class="lead">
         <li> <i class="fa fa-check-square-o"></i> Tips and Tricks for busy professionals</li>
           <li> <i class="fa fa-check-square-o"></i> Food demonstrations</li>
           <li> <i class="fa fa-check-square-o"></i>  Healthy Snacking</li>
            <li> <i class="fa fa-check-square-o"></i> How to pack a healthy lunch</li>
             <li> <i class="fa fa-check-square-o"></i> 10 things to avoid at all costs</li>
               <li> <i class="fa fa-check-square-o"></i> How to improve energy and focus</li>
              <li> <i class="fa fa-check-square-o"></i> Never call in sick again</li></span>
              </ul>
  <p class="suxy pink-font">starting at $500</p>
          </div>
      </div>
   


<div class="row">
  <div class="col-md-12 purple padded-e">
<span class="suxy dark-font"> Are you ready to get your company healthy?  </span><a class="btn btn-pink" href="/contact/">Book Me </a>
  </div>
</div>
</div>
</div>

</div>
</div>

 <div class="container-fluid plum padded-big">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
   {% include signup.html %}
   </div>
 </div>
  </div>
</div>
<div class="container-fluid white padded-big" id="gail2">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <span class="white-font sux" id="highlight-pink"> <strong></strong>"A powerful, inspiring and engaging speaker and a forceful, fierce advocate for positive change.  Dr. Gail is electric!"</span> <p>Gerard Garramone,  The Raw Food Institute</p>
   
          </div>
      </div>
    </div>
  </div>
 


<div class="container-fluid purple padded-med visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> 
      
       <span class="dark-font big"><i class="fa fa-phone-square fa-lg"> <strong>6122174112 </strong></i> </span><span class="pink-font sux"><br>
        <i class="fa fa-envelope-o fa-lg" alt="visit us on twitter"></i>   gail@healthylifebegins.com </strong></h4></span>
      
      </div>

    </div>
    </div>
</div> 
<div class="container-fluid purple padded-big  hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> 
      
       <span class="dark-font sux"><i class="fa fa-phone-square fa-lg"> <strong>240-780-8153 </strong></i> </span><span class="pink-font big">
      <i class="fa fa-envelope-o fa-lg" alt="email us"></i> gail@healthylifebegins.com </strong></h4></span>
      
      </div>

    </div>
    </div>
</div> 

{% include social.html %}


 







