<form action="http://akashacollective.createsend.com/t/d/s/irxil/" method="post" id="subForm">
	<span class="sux white-font"><strong>How Healthy is your Business? Enter your information to receive a free email assessment, my gift to you!</strong> </span>

<br><br>

     
        <input id="fieldName" name="cm-name" type="text" required class="input-field" placeholder="Name" />

        <input id="fieldEmail" name="cm-irxil-irxil" type="email" required class="input-field" placeholder="Email"/>

        <input id="fieldjjjkir" name="cm-f-jjjkir" type="text" required class="input-field" placeholder="Company/Org" />

<br>
        <button type="submit" class="btn btn-danger-2">Submit</button>

</form>