 <div class="container-fluid dark padded-big">
    <div class="container">
      <div class="row">

        <div class="col-xs-4"> 
               <a href="http://healthylifebegins.com?dgd" class="social" target="_blank"><img src="/img/hlblogo.jpg" class="img-responsive"> </span></a> 
             </div>
                <div class="col-xs-4"> 
                   <a href="https://www.linkedin.com/in/drgaildavis" class="social" target="_blank"> <span class="plum-font giant"><i class="fa fa-linkedin-square fa-lg"></i> </span> </a></span>
</span>  </div>
              <div class="col-xs-4"> 
        <span class="plum-font giant"> <a href="https://www.facebook.com/HealthyLIfeBegins" class="social" target="_blank"><span class="plum-font giant"><i class="fa fa-facebook fa-lg"></span></i> </a></div>
      </div>
      </div>
  </div>